* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 3.6rem;
}

:root {
    /*COLORES*/
    --primary-color: #222831;
    --just-white: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
    background-color:var(--primary-color) ;
}
/*
HEADER
*/
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    margin-bottom: 2.5rem;
    max-width: 100%;
}

.header__logo-container,
.header__logo-container picture, 
.header__logo-container picture img,
.header__perfil-container, 
.header__user-image,
.header__user-image picture,
.header__user-image picture img {
    max-width:20rem;
    color:var(--just-white)
    
}
.header__logo-container {
    margin: left 1rem;
}
.header__perfil-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    min-width: 10rem;
    
}
.header__perfil-container p {
    font-size: 1.6rem; 
}

.search {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}
.search__title {
    font-size: 2.6rem;
    color:var(--just-white);
}
.search__input {
    width: 75%;
    height:2.8rem;
    border:none;
    border-radius: 1rem;
    padding: 0 1rem;
    outline: none;
 }








