* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*COLORES*/
    --primary-color: #222831;
    --just-white: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
    background-color:var(--primary-color) ;
}
h1 {
    font-size: 3.6rem;
}
p{
    font-size:1.6rem;
}
/*
HEADER
*/
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
}

.header__logo-container,
.header__logo-container img {
    margin-left:0.5rem;
    max-width:18rem;
    max-height: 6rem;
}

.header__perfil-container, 
.header__user-image,
.header__user-image picture img {
    max-width:6rem;
    color:var(--just-white)
    
}

.header__perfil-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    min-width: 10rem;
    
}
.header__perfil-container ul{
    position: absolute;
    display: none;
    list-style: none;
    text-align: left;
    margin: 9rem 0 0 3.9rem; 
    
}
.header__perfil-container ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--just-white);
}
.header__perfil-container ul li a:hover {
    text-decoration: underline;
    font-size: 1.8rem;
    color: grey;
}
.header__perfil-container:hover ul {
    display: flex;
    flex-direction: column;
}

.search {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}
.search__title {
    font-size: 2.6rem;
    color:var(--just-white);
}
.search__input {
    width: 75%;
    height:2.8rem;
    border:none;
    border-radius: 1rem;
    padding: 0 1rem;
    outline: none;
 }
 /**************
 Carousell
 ******************/









