* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*COLORES*/
    --primary-color: #222831;
    --title_Carousel_Color: #F05454;
}

html {
    font-size: 62.5%;
    font-family: Helvetica,sans-serif;
}
html.wf-active{
    font-family: 'DM+Sans',sans-serif;
}
body{
    background-color: var(--primary-color);
}
img { 
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 3.6rem;
}
p{
    font-size:1.6rem;
}


/*
HEADER
*/
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 18vh;
    width: 100%;
    padding-top: 1.5rem;
    
}

.header__img{
    width: 4.5rem;
    height:6rem;
    
}

.header__perfil-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    width: 10rem;
    color:white;

    
}
.header__list{
    position: absolute;
    display: none;
    list-style: none;
    text-align: left;
    margin: 9rem 0 0 3.9rem; 
    
}
.list__link{
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}
.list__link:hover {
    text-decoration: underline;
    font-size: 1.8rem;
    color: grey;
}
.header__perfil-container:hover .header__list {
    display: flex;
    flex-direction: column;
}

.search {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 9rem;
    width: 100%;
    
}
.search__title {
    font-size: 2.6rem;
    color:white;
    margin-bottom: 1.2rem;
}
.search__input {
    background-color: rgba(34, 40, 49, 0.1);
    border-color: white;
    width: 75%;
    max-width: 70rem;
    height:4.8rem;
    border-radius: 4rem;
    padding: 0 1rem;
    outline: none;
    color:white;
 }
 .search__input::placeholder{
     color: white;
 }
 /**************
 Carousell
 ******************/
 .carousel-container {
     position: relative;
     padding:2rem 1rem 0;
 }
 .carousel__info-content{
    display: flex;
    justify-content: space-between;
    height:3rem;
    margin: 1rem 0;
 }
 .carousel__title {
     font-size: 2rem;
     color: var(--title_Carousel_Color);
     margin-bottom: 1rem;
 }
 .carousel__list {
     position: relative;
     height: 37vh;
     display: flex;
     overflow: hidden;
     scroll-behavior: smooth;
     
 }
 .carousel__list .flecha{
    position: absolute;
    height: 45%;
    width: 2.5rem;
    top: calc(50% - 30%);
    border: none;
  background: rgba(0,0,0,0.3);
  font-size: 25px;
    color: white;
    line-height: 40px;
    cursor: pointer;
  z-index: 500;
  transition: .2s ease all;
  }
  .carousel__list .flecha-izquierda{
    left: 0;
  }
  .carousel__list .flecha-derecha{
    right: 0;
  }
  .carousel__list .flecha-izquierda:hover,
  .carousel__list .flecha-derecha:hover
  {
    background: rgb(0, 0, 0,.9);
  }

 .indicadores button{
     will-change: background-color;
    background: white;
    height: 0.25rem;
    width: 1.5rem;
    cursor: pointer;
    border:none;
    margin-right: 0.48rem;
   
  }
  .indicadores button:hover,
  .indicadores .activo{
    background-color: var(--title_Carousel_Color);
    transform: scale(1.1);
  }


 .carousel-container__carousel {
     display:flex; 
     width: 100%;
     overflow: hidden;
     scroll-behavior: smooth;
     align-items:center;
     ;
 }
.carousel-item {
    will-change: opacity;
    position: relative;
    min-width: 33.33%; 
    height:80%;/* cambio responsive*/
    max-height: 200px;
    transition: 450ms all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    transform-origin: center left; 
    cursor: pointer;
 }
 .carousel-container__carousel:hover  .carousel-item:not(:hover) {
    transform: translate3d(3rem,0,0);
    opacity:0.3;
}

.carousel-item:hover {
    transform: scale(1.2);
    opacity: 1;

 }

 .carousel-item:hover .carousel-item__details{
     opacity: 1;
 }
 .carousel-item .item__img,
 .carousel-item img {
     width: 100%;
     height: 100%;
 }
 .carousel-item__details{
    will-change:opacity;
    position: absolute;
    display: flex;
    background: linear-gradient( to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100% );
    flex-direction: column;
    justify-content: flex-end;
    width:100%;
    padding:0.5rem 1rem;
    top:0;
    bottom:0;
    color:white;
    transition: 450ms opacity;
    line-height: 1.2;
    font-size:1rem;
    opacity: 0;
 }
 .carousel-item__details p{
    font-size:1rem;
 }
 .carousel-item__details--iconos{
    display: flex;
    width: 100%;
 }
 .carousel-item__details--iconos .details__icon{
     width:25px;
     margin-right:2px
 }
 
 .carousel-item__loading{
    background: linear-gradient(90deg,rgba(250,250,250,1),rgba(200,199,199));
    background-size: 400% 400%;
    animation:loadingAnimation 3s ease-in-out infinite;
 }

 @keyframes loadingAnimation{
     0%{
         background-position: 0% 50%;

     }
     50%{
         background-position:100% 50%;
     }
     100%{
         background-position:0% 50%;
     }
 }
 

.login-footer {
    position: relative;
    display: flex;
    align-items:center;
    width:100%;
    height: 10vh;
    padding-left: 1rem;
}
.index-footer{
    background-color: var(--primary-color);
    box-shadow: -1px -4px 5px 0px #44333b;
}
.login-footer a {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.hide{
    display: none;
}
@media (min-width: 670px) {
    .header{
        height:14vh;
    }
    .carousel-item{
        min-width: 20%;
        max-height: none;
    }
    .carousel-item__details p{
        font-size:1.6rem;
     }

  }
 


